/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */

body{
    background-color: grey;
    font-family: Roboto;
}

/* estilo del header */

header{
    display: none;
}

/* estilos de main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

main h2{
    margin: 1rem;
}

main h2 span{
    display: block;
} 

main .boton{
    background-color: #51b0df;
    margin-top: 1rem;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    color: whitesmoke;
    box-shadow: 3px 3px 10px black;
}

main img{
    width: 60%;   
}

/* estilos de secrtion */

section{
    display: none;
}

/* estilos de foote */

footer h4{
    text-align: center;
}

/* 
    1 rem = 16px
    2 rem = 32px
    1.5 rem = 24px
    */

/*
    1 em = 16px
    */


/* pantallas de tablet */

@media screen and (min-width:600px){
    /* estilos de header */
    header{
        display: block;
        display: flex;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0.7rem;
        align-items: center;
    }

    header nav ul{
        display: flex;
        list-style: none;
        gap: 1rem;    

    }

    header nav ul li{
        font-weight: bold;
    }

    /* estilos de section */

    section{
        display: block;
        display: flex;
        background-color: #bee0f1; 
        padding: 1rem;
        gap: 0.5rem;       
    }

    section div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        animation-name: animacion-div;
        animation-iteration-count: infinite;
        animation-duration: 2s;
               
    }

    @keyframes animacion-div {
        0%{
            transform: scale(0.5);
            background-color: black;
        }

        50%{
            transform: scale(0.8);
            background-color: red;
        }

        100%{
            transform: scale(1.2);
            background-color: yellow;
        }
    }

    section div img{
        width: 20%;
    }

    
}

/* estilos de pantallas de escritorio */

@media screen and (min-width:1024px){

    /* estilos del menu */

    header nav ul li{
        transition: 3s;
    }
    
    header nav ul li:hover{
        transform: scale(1.1);
        transition: 3s;
        box-shadow: 1px 1px 2px black;
    }

    /* estilos de main */

    main{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        grid-template-areas: 
        "p img"
        "h2 img"
        "p-dos img"
        "boton img";
        justify-content: center;
        justify-items: center;
    }

    main h2{
        grid-area: h2;
    }

    main img{
        grid-area: img;
    }

    main img:hover{
        filter: drop-shadow(10px 10px 10px grey);
    }

    main p{
        grid-area: p;
        
    }
    
    main .p-dos{
        grid-area: p-dos;
        width: 70%;
    }

    main .boton{
        grid-area: boton;
    }

    main .boton:hover{
        box-shadow: 2px 2px 3px black;
    }

    /* estilos de foote */

    footer{
        margin-top: 1.5rem;
    }

}